<h3>Please fill up the form to create an event.</h3>
<form action = '/event/new/submit' method = 'POST'>
	Event name: <input type = 'text' name='event[name]' placeholder = 'Input a name' />
	Date: <input type = 'date' name='event[date]' />
	<input type = 'submit' value = 'Submit' />
</form>
