<h3>Please fill up the form to create a person.</h3>
<form action = '/registration/new/submit' method = 'POST'>
	Person id: <input type = 'text' name='registration[person_id]' placeholder = 'Input a person id' />
	Event id: <input type = 'text' name='registration[event_id]' placeholder = 'Input an event id' />
	<%# Status: <input type = 'checkbox' name = 'registration[status]' value = 'Coming' /> Coming %>
	<%# <input type = 'checkbox' name = 'registration[status]' value ='Not coming' /> Not coming %>
	<%# <div> %>
		<label for = 'gender'> Gender</label>
		<select name='registration[status]' id='status'>
			<option value='Coming'>Coming</option>
			<option value= 'Not coming'> Not coming</option>
			<option value='Maybe'> Maybe </option>
		</select>
	<%# </div> %>
	<input type = 'submit' value = 'Submit' />
</form>
