<%# ad panel %>
    <div class="col-sm-3">
      <div class="panel panel-default panel-custom">
	<div class="panel-heading">
	  <h4 class="panel-title">
			Ad
	    <%# <small><a href="#">Refresh</a> ● <a href="#">View all</a></small> %>
	  </h4>
	</div>
	<div class="panel-body">
		<h4>Want to scale up your ruby programming skills?
		</h4>
		<h4>
		Interested in building a clone of Twitter?
		</h4>

		<hr>
		<h4 class="media-heading"> Ratings and Reviews</h4>
		<hr>

		<div class="media">
			<div class="media-left">
				<img src="/images/profile_32x32.png" alt="" class="media-object img-rounded">
			</div>
			<div class="media-body">
				It was a lot of fun. I really learned a lot from Pito.
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			</div>
		</div>


		<div class="media">
			<div class="media-left">
				<img src="/images/profile_32x32.png" alt="" class="media-object img-rounded">
			</div>
			<div class="media-body">
				It was a lot of fun. I really learned a lot from Pito.
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			</div>
		</div>


		<div class="media">
			<div class="media-left">
				<img src="/images/profile_32x32.png" alt="" class="media-object img-rounded">
			</div>
			<div class="media-body">
				It was a lot of fun. I really learned a lot from Pito.
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			<span class="glyphicon glyphicon-star" style="color:red"></span>
			</div>
		</div>


<%# 	  <div class="media"> %>
<%# 	    <div class="media-left"> %>
<%# 	      <img src="/images/profile_32x32.png" alt="" class="media-object img-rounded"> %>
<%# 	    </div> %>
<%# 	    <div class="media-body"> %>
<%# 	      <h4 class="media-heading">Nome e cognome</h4> %>
<%# 	      <a href="#" class="btn btn-default btn-xs"> %>
<%# 		+ %>
<%# 		<span class="glyphicon glyphicon-user"></span> %>
<%# 		Follow %>
<%# 	      </a> %>
<%# 	    </div> %>
<%# 	  </div> %>
	  <%# <div class="media"> %>
	  <%#   <div class="media-left"> %>
	  <%#     <img src="/images/profile_32x32.png" alt="" class="media-object img-rounded"> %>
	  <%#   </div> %>
	  <%#   <div class="media-body"> %>
	  <%#     <h4 class="media-heading">Nome e cognome</h4> %>
	  <%#     <a href="#" class="btn btn-default btn-xs"> %>
		<%# + %>
		<%# <span class="glyphicon glyphicon-user"></span> %>
		<%# Follow %>
	  <%#     </a> %>
	  <%#   </div> %>
	  <%# </div> %>
	  <%# <div class="media"> %>
	  <%#   <div class="media-left"> %>
	  <%#     <img src="/images/profile_32x32.png" alt="" class="media-object img-rounded"> %>
	  <%#   </div> %>
	  <%#   <div class="media-body"> %>
	  <%#     <h4 class="media-heading">Nome e cognome</h4> %>
	  <%#     <a href="#" class="btn btn-default btn-xs"> %>
		<%# + %>
		<%# <span class="glyphicon glyphicon-user"></span> %>
		<%# Follow %>
	  <%#     </a> %>
	  <%#   </div> %>
	  <%# </div> %>
	<%# </div> %>
	<div class="panel-footer">
	  <a href="http://cosi105b.s3-website-us-west-2.amazonaws.com/">
	    <span class="glyphicon glyphicon-share-alt"></span>
			Want to learn more? Click this!
	  </a>
	</div>
      </div>
    </div>
