<h3>Please fill up the form to create a profile.</h3>
<form action = '/edit_profile/submit' method = 'POST'>
	Profile Bio: <input type = 'text' name = 'profile[bio]' placeholder = 'Input bio' />
	Profile dob: <input type = 'date' name = 'profile[dob]' placeholder = 'DoB' />
	Profile location: <input type = 'text' name = 'profile[location]' placeholder = 'Location' />
	Profile name: <input type = 'text', name = 'profile[name]' placeholder = 'Name' />
	<input type = 'submit' value = 'Submit' />
</form>
