<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= erb :profile %>
    </div>

    <div class="col-sm-6">
      <div class="gallery">
        <% @info[:target_followings].each do |f| %>
          <%= erb :miniprofile, :locals=> {:f => f} %>
        <% end %>
      </div>
    </div>
    <%= erb :ad%>
  </div> <!-- row -->
</div> <!-- container -->
