<footer class="footer container">
  <div class="row">
    <div class="col-md-6">&copy; Si Chen, Alyssa Goncalves, Shuai Yu</div>
    <div class="col-md-6 text-right">COSI-105b Software Engineering for Scalability</div>		  
  </div>
</footer>
