<div class="sidebar">
  <% if is_authenticated? %>
    <h3>MENU</h3>
    <ul>
      <li><a href='/tweet/test'>Tweet!</a></li>
      <li><a href='edit_profile'>Edit profile</a></li>
      <li><a href='/users'>View all users</a></li>
    </ul>
  <% else %>
    <div class="signup-container">
      <p><a href='/login'><button type='submit' class='btn-login'>Login</button></a></p>
      <p><a href='/signup'><button type='submit' class='btn-login'>Signup</button></a></p>
    </div>
  <% end %>
</div>
<div class="main">
  <p><img src="images/frank.jpg"></p>
</div>
