<p><em>Blue skies, smiling at me, nothing but blue skies do I see...</em></p>
<p><img src="images/frank.jpg"></p>
<p><em>Bluebirds singing a song, nothing but bluebirds all day long...</em></p>

<% if is_authenticated? %>
  <form action='/logout' method='POST'>
    <p><button type='submit'>Logout</button></p>
  </form>

<% else %>
  <form action='/login' method='GET'>
    <p><button type='submit'>Login</button></p>
  </form>

  <form action='/signup' method='GET'>
    <p><button type='submit'>Signup</button></p>
  </form>
<% end %>

<a href='/tweet/test'>Tweet Function Test Link</a>