<% if is_authenticated? %>
  <%= erb :timeline %>
<% else %>
<div class="row">
  <div class="col-md-7">
    <img src="images/bird.jpg" class="bird">
  </div>  
  <div class="col-md-5" id="splash-form">
    <div id="signup">
      <h2>Sign Up</h2>
      <%= erb :signup %>
    </div>
  </div>
</div>
<% end %>
