<p><em>Blue skies, smiling at me, nothing but blue skies do I see...</em></p>
<p><img src="images/frank.jpg"></p>
<p><em>Bluebirds singing a song, nothing but bluebirds all day long...</em></p>
<form action='/user/new' method='GET'>
  <p><button type='submit'>Signup</button></p>
</form>
<form action='/login' method='GET'>
  <p><button type='submit'>Login</button></p>
</form>

<!-- use for testing tweet -->
<form action='/tweet/test' method='GET'>
  <button type='submit'>Test Tweet</button>
</form> 

