<!doctype HTML>
<html>
  <head>
    <title><%= title %> | nanoTwitter (nT)</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1><a href="/">nanoTwitter (nT)</a></h1>
    </header>
    <div id="container">
      <h2><%= title %></h2>
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <p>&copy; Si Chen, Alyssa Goncalves, Shuai Yu</p>
      <p>COSI-105b Software Engineering for Scalability</p>
    </footer>
  </body>
</html>
