<div class="panel panel-default">
  <div class="panel-body">
    <a href="#"><img class="img-responsive" alt="" src="/images/profile_64x64.png"></a>

    <p style="margin-top:0px;" >
      <div class="twPc-divName">
        <%= f.profile.name %>
      </div>
    </p>

    <div style="margin-top:-15px;">
      <span>
        <a href=<%= "/user/" + f._id.to_s %>>
        @<span><%= f.handle %></span>
        </a>
      </span>
    </div>

    <div>
      <%= f.profile.bio %>
    </div>

  </div> <!-- panel body -->
</div> <!-- panel panel-default -->
