<div class="panel panel-default">
	<div class="panel-body">
		<a href="#"><img class="img-responsive" alt="" src="/images/profile_64x64.png"></a>
    <% if @info[:target_user]._id != @info[:login_user]._id %>
			<div>
				<button id="follow-button" class="btn btn-primary"><% if @info[:isfollowing] == true %>Following<% else %>+ Follow<% end %></button>
			</div>
    <% end %>

		<p style="margin-top:0px;" >
			<div class="twPc-divName">
				<%= f.profile.name %>
			</div>
		</p>

		<div style="margin-top:-15px;">
			<span>
				<a href="/user/<%= @targeted_id %>">
					@<span><%= f.handle %></span>
				</a>
			</span>
		</div>

		<div>
			<%= f.profile.bio %>
		</div>

	</div> <!-- panel body -->
</div> <!-- panel panel-default -->
