<form action = '/user/new/submit' method='POST'>
      <p><label for='username'>User id:</label> <input type = 'text' name='user[user_id]' placeholder = 'Input an id' /></p>
      <p><label for='handle'>Handle:</label> <input type = 'text' name = 'user[handle]' placeholder = 'Input an handle' /></p>
      <p><label for='email'>Email:</label> <input type = 'text' name = 'user[email]' placeholder = 'Input an email' /></p>
      <p><label for='password'>Password:</label> <input type = 'text' name = 'user[password]' placeholder = 'Input password' /></p>
      <p><label for='apitoken'>APItoken:</label> <input type = 'text' name = 'user[APItoken]' placeholder = 'Input APItoken' /></p>
      <p><label for='apitoken'>Bio:</label> <input type = 'text' name = 'user[Profile][bio]' placeholder = 'Input bio' /></p>
      <p><label for='name'>Name:</label> <input type = 'text' name = 'user[Profile][name]' placeholder = 'Name' /></p>
      <p><input type = 'submit' value = 'Submit' /></p>
</form>