<form action = '/signup/submit' method='POST'>
      <p><label for='email'>Email:</label> <input type='text' name='user[email]' placeholder='Input an email' /></p>
      <p><label for='password'>Password:</label> <input type='text' name='user[password]' placeholder='Input password' /></p>
      <p><label for='handle'>Handle:</label> <input type='text' name='user[handle]' placeholder='Input an handle' /></p>
      <p><input type='submit' value='Submit' /></p>
</form>