<div class="container">
  <div class="media-body">
    <h4 class="media-heading">/test/reset/all</h4>
    <form action="/test/reset/all" method="POST">
        <div >
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
  </div>
</div>

<br>
<hr>

<div class="container">
  <div class="media-body">
    <h4 class="media-heading">/test/reset/testuser</h4>
    <form action="/test/reset/testuser" method="POST">
        <div >
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
  </div>
</div>

<br>
<hr>

<div class="container">
  <div class="media-body">
    <h4 class="media-heading">/test/status</h4>
    <form action="/test/status" method="GET">
        <div >
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
  </div>
</div>

<br>
<hr>

<div class="container">
  <div class="media-body">
    <h4 class="media-heading">/test/version</h4>
    <form action="/test/version" method="GET">
        <div >
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
  </div>
</div>

<br>
<hr>

<div class="container">
  <div class="media-body">
    <h4 class="media-heading">/test/reset/standard</h4>
    <form action="/test/reset/standard" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="tweets" placeholder="number of importing tweets">
        </div>
        <div >
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
  </div>
</div>

<br>
<hr>

<div class="container">
  <div class="media-body">
    <h4 class="media-heading">/test/users/create</h4>
    <form action="/test/users/create" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="count" placeholder="count of users">
          <input class="form-control" type="text" name="tweets" placeholder="number of importing tweets">
        </div>
        <div >
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
  </div>
</div>

<br>
<hr>

<div class="container">
  <div class="media-body">
    <h4 class="media-heading">/test/user/:user/tweets</h4>
    <form action="/test/user/:user/tweets" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="user" placeholder="id of users">
          <input class="form-control" type="text" name="count" placeholder="count of users">
        </div>
        <div >
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
  </div>
</div>

<br>
<hr>

<div class="container">
  <div class="media-body">
    <h4 class="media-heading">/test/user/follow</h4>

    <form action="/test/user/follow" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="count" placeholder="count of users">
        </div>
        <div >
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
  </div>
</div>

<br>
<hr>

<div class="container">
  <div class="media-body">
    <h4 class="media-heading">/test/user/:user/follow</h4>
    <form action="/test/user/:user/follow" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="user" placeholder="id of users">
          <input class="form-control" type="text" name="count" placeholder="count of users">
        </div>
        <div >
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
  </div>
</div>

