<div class="row">
  <div class="col-lg-4">
    @<%= @cur_user.handle %>
    <a href='/timeline'> Timeline </a>
  </div>
  <div class="col-lg-4">
    <%= erb :tweet_stub %>
    <%= erb :tweets %>
  </div>
  </div class="col-lg-4">
  </div>
</div>
