<div class="row">
  <div class="col-lg-4">
    @<%= @current_user.handle %>
  </div>
  <div class="col-lg-4">
    <%= erb :tweet_stub %>
    <%= erb :tweets %>
  </div>
  </div class="col-lg-4">
  </div>
</div>
