<a href='/tweets'> tweet list </a>
<br><br>

<form action='/tweet/new' method='POST'>
  Tweet:<br>
  <input type="text" name="tweet[content]" placeholder="Please input tweet"><br>
  <button type='submit'>NewTweet</button>
</form>