<table>
<% @users.each do |user| %>
  <tr>
    <td>
      <a href='/user/<%= user.id %>'>@<%= user.handle %></a>
      <% if user == session[:user] %> (that's you!)<% end %>
    </td>
   </tr>
<% end %>
</table>