<h4>Welcome, <%= @name.handle %>!</h4>

<p>All users:</p>

<table>
  <tr>
    <th>email</th>
    <th>handle</th>
  </tr>
<% @users.each do |user| %>
   <tr>
      <td><%= user.email %></td>
      <td><%= user.handle %></td>
   </tr>
<% end %>
</table>