<!doctype html>
<html>
  <head>
<link rel="hovercard" type="text/css" href="/preview_card.css">
<script type="text/javascript" src="/preview_card.js"></script>
    <title>Twitter Whack</title>
    <%# <link rel="stylesheet" type="text/css" href="/drop-in.css"> %>
  </head>
  <body>
    <div class="container">
	  <%= yield %>
    </div>
  </body>
</html>
