a:link,
a:visited,
a:active {
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;    
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.footer {
    padding: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    background: #FFF;
}

#signup {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#splash {
    background: #fff;
    padding: 0;
}

#splash-form {
    background: #fff;
}

.col-splash {
    padding: 0px;
}

img.bird {
    width: 100%;    
}

.form-inline {
    display: inline;
    width: inherit;
}

.bumper {
    background: #FFF;
    padding-bottom: 16px;
}

.tweet-date {
    text-align: right;
    float: right;
}

#tweet-scroller {
    display: block;
    height: 445px;
    overflow: scroll;    
}
.topnav {
  overflow: hidden;
  background-color: lightgrey;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 50%;
}

.topnav a:hover {
  background-color: #e6ffff;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}
