a:link,
a:visited,
a:active {
    color: #339eee;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;    
}

a:hover {
    color: #b5ddff;
}

.navbar {
    margin-bottom: 0px;
    border-bottom: 1px solid #e5e5e5;    
}

.footer {
    padding: 19px 0;
    color: #777;
    border-top: 1px solid #e5e5e5;
}  

.sidebar {
    float: left;
    max-width: 30%;
}

#signup {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#splash-form {
    background: #fff;
    padding: 19px 0;
}

img.bird {
    width: 100%;    
    height: auto;
}

.form-inline {
    display: inline;
    width: inherit;
}

.oi-link {
    cursor: pointer;
    color: #b5ddff;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;    
}

.oi-link:hover {
    color: #339eee;
}

.tweet-container {
    border-bottom: 1px solid #e5e5e5;
    padding: 19px 0;
}

.tweet-content {
    margin: 8px 0;
    clear: both;
}
